@media (min-width: 1024px) {
  .topnav a{
    font-size: 14px;
  }
}

.topnav {
  position: relative;
}


.navbar-links a {
  color: white;
  text-decoration: none;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    color: white;
    cursor: pointer;
  }

  .navbar-links {
    display: none;
    position: absolute;
    top: 40px;
    right: -100px;
    background: #1f2937;
    flex-direction: column;
    width: 200px;
    padding: 15px;
    border-radius: 8px;
    gap: 15px;
  }

  .navbar-links.active {
    display: flex;
  } 
}


@media (min-width: 769px) {
  .hamburger {
    display: none;
  }

  .navbar-links {
    display: flex;
  }
} 