@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

 .text-color{
    color: rgb(0, 200, 255);
 }

 .gradient-text { 
  background: linear-gradient(325deg, #00E5FF, #9c7ffa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  font-weight: 500;
} 

 .gradient-bg { 
  background: linear-gradient(325deg, #00E5FF, #9c7ffa);
} 

.navbar-links{
  background: linear-gradient(325deg, #00E5FF, #9c7ffa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  gap: 50px;
}

.navbar-link{
  background: linear-gradient(325deg, #00E5FF, #9c7ffa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.button{
  background: linear-gradient(325deg, #00E5FF, #9c7ffa);
  border-radius: 5px;
  border: 2px solid  white;
  padding: 8px 15px;
  color: white;
  font-size: 15px;
}

.text{
  background: linear-gradient(325deg, #00E5FF, #9c7ffa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
  font-weight: 700;
}

.typing{
color: white;
overflow:hidden;
white-space:nowrap;
border-right:3px solid;
animation:typing 5s steps(25) infinite;
}

@keyframes typing{
0%{width:0}
50%{width:23ch}
100%{width:0}
}


.card{
  background: rgb(55 65 81 / var(--tw-bg-opacity, 1));
  border-radius: 10px;
  justify-items: center;
  text-align: center;
  transition: all 0.3s ease;
}

.card span{
  background: linear-gradient(325deg, #00E5FF, #9c7ffa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 16px;
  font-weight: 500;
}

.card:hover{
  box-shadow: 0 0 10px rgb(59 130 246);
  transform: translateY(-10px);
}

.overlay{
position:absolute;
bottom:-100%;
left:0;
width:100%;
height:100%;
background:rgb(31, 41, 55);
color:white;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
transition:.5s;
}

.background:hover .overlay{
bottom:0;
}


.contact-card img{
  border: 2px solid white;
  background: linear-gradient(325deg, #00E5FF, #9c7ffa);
}

.contact-form{
  box-shadow: 0 0 7px rgb(255, 255, 255);
}
